@import "core";

/* ============================================================
	Design system
============================================================ */

/* Colors */

:root
{
	color-scheme: light dark;

	--grey-light4: #f6f6f6;
	--grey-light3: #eeeeee;
	--grey-light2: #e5e5e5;
	--grey-light1: #c3c3c3;
	--grey: #a3a3a3;
	--grey-dark1: #767676;
	--grey-dark2: #595858;
	--grey-dark3: #494948;
	--grey-dark4: #2c2b2b;
	
	--accent-light4: #f3f6fd;
	--accent-light3: #e7eefe;
	--accent-light2: #d2e1fb;
	--accent-light1: #9ac3f6;
	--accent: #6296d8;
	--accent-glow: #006eff40;
	--accent-dark1: #4c77b6;
	--accent-dark2: #3e62a0;
	--accent-dark3: #314e8b;
	--accent-dark4: #1e326c;
	
	--red-light4: #fbf5f4;
	--red-light3: #fbebe8;
	--red-light2: #fbdfd9;
	--red-light1: #ff9d89;
	--red: #ff3d26;
	--red-glow: rgba(255, 61, 38, 0.2);
	--red-dark1: #dd0737;
	--red-dark2: #ac1c40;
	--red-dark3: #862337;
	--red-dark4: #5f212b;
	
	--yellow-light4: #fffde8;
	--yellow-light3: #fffbd1;
	--yellow-light2: #fff695;
	--yellow-light1: #ffe702;
	--yellow-highlighter: rgba(255, 231, 2, 0.8);
	--yellow: #ffa120;
	--yellow-glow: rgba(255, 161, 32, 0.2);
	--yellow-dark1: #ef5f00;
	--yellow-dark2: #bd4b00;
	--yellow-dark3: #893700;
	--yellow-dark4: #5e2500;

	--foreground: black;
	--foreground-subtle: var(--grey);
	--background: white;
	--background-alt: #fbfbfb;
	--background-trans: rgba(255, 255, 255, 0.7);
	--background-invisible: rgba(255, 255, 255, 0);
	--highlight1: rgba(255, 255, 255, 0.8);
	--shade1: rgba(0, 0, 0, 0.05);
	--shade2: rgba(0, 0, 0, 0.1);

	--link: var(--accent-dark2);
	--link-underline: var(--accent-light2);
	--link-hover: var(--accent);
	--link-nav: var(--accent-dark4);
	--link-nav-hover: var(--accent-dark1);
	--link-special: #1b837f;
	--link-special-background: #e5fdf9;
	--link-special-popup-background: #fafffe;
	--link-highlight: var(--yellow-dark1);
	--link-highlight-background: var(--yellow-light2);
	--link-me: #96326b;
	--link-me-background: #f7deea;

	--selection-foreground: white;
	--selection-background: var(--accent-dark1);

	--heading1: var(--accent-dark4);
	--heading2: var(--accent-dark3);
	--heading3: var(--accent-dark2);
	--heading4: var(--accent-dark1);

	--border-subtle: var(--grey-light2);
	--border-subtle-trans: rgba(0, 0, 0, 0.2);

	--solid-shadow-opacity: 0.05;

	--toolbar-foreground: var(--foreground);
	--toolbar-background: var(--grey-light4);
	--toolbar-border: var(--grey);

	--control-foreground: black;
	--control-background: var(--grey-light4);
	--control-border: var(--grey);
	--control-foreground-hover: black;
	--control-background-hover: white;
	--control-border-hover: var(--grey);
	--control-foreground-pressed: black;
	--control-background-pressed: white;
	--control-border-pressed: var(--grey);
	--control-foreground-disabled: var(--grey-light1);
	--control-background-disabled: var(--grey-light4);
	--control-border-disabled: var(--grey-light2);

	--accent-control-foreground: white;
	--accent-control-background: var(--accent-dark1);
	--accent-control-border: var(--accent-dark3);
	--accent-control-foreground-hover: white;
	--accent-control-background-hover: var(--accent);
	--accent-control-border-hover: var(--accent-dark2);
	--accent-control-foreground-pressed: white;
	--accent-control-background-pressed: var(--accent);
	--accent-control-border-pressed: var(--accent-dark2);

	--danger-control-foreground: var(--red-dark2);
	--danger-control-background: var(--background);
	--danger-control-border: var(--red-dark2);
	--danger-control-foreground-hover: white;
	--danger-control-background-hover: var(--red-dark2);
	--danger-control-border-hover: var(--red-dark4);
	--danger-control-foreground-pressed: white;
	--danger-control-background-pressed: var(--red-dark2);
	--danger-control-border-pressed: var(--red-dark4);

	--ghost-control-foreground: var(--grey);
	--ghost-control-alt-background-hover: var(--grey-light3);
	--ghost-control-alt-background-pressed: var(--grey-light2);

	--accent-tag-foreground: var(--foreground);
	--accent-tag-background: var(--accent-light3);
	--accent-tag-background-hover: white;
	--accent-tag-background-pressed: var(--accent-light2);
	--accent-tag-border: var(--accent);

	--highlight-tag-foreground: var(--foreground);
	--highlight-tag-background: var(--yellow-light2);
	--highlight-tag-background-hover: var(--yellow-light3);
	--highlight-tag-background-pressed: var(--yellow-light1);
	--highlight-tag-border: var(--yellow);

	--badge-foreground: white;
	--badge-background: var(--red-dark2);

	--listitem-foreground: var(--foreground);
	--listitem-secondary-foreground: var(--grey);
	--listitem-background: var(--background);
	--listitem-background-hover: var(--grey-light4);
	--listitem-background-pressed: var(--grey-light3);
	--listitem-border: var(--grey-light3);

	--alt-listitem-foreground: var(--accent-dark3);
	--alt-listitem-secondary-foreground: var(--grey-dark2);
	--alt-listitem-background: var(--grey-light4);
	--alt-listitem-background-hover: var(--grey-light3);
	--alt-listitem-background-pressed: var(--grey-light2);
	--alt-listitem-border: transparent;

	--highlight-listitem-foreground: var(--foreground);
	--highlight-listitem-secondary-foreground: var(--yellow-dark2);
	--highlight-listitem-background: var(--yellow-light4);
	--highlight-listitem-background-hover: var(--yellow-light3);
	--highlight-listitem-background-pressed: var(--yellow-light2);
	--highlight-listitem-border: var(--yellow);

	&.theme-dark
	{
		--accent-glow: transparent;
		--red-glow: transparent;
		--yellow-glow: transparent;
		--yellow-highlighter: rgba(239, 95, 0, 0.8);

		--foreground: white;
		--foreground-subtle: var(--grey);
		--background: #1a1a1a;
		--background-alt: black;
		--background-trans: rgba(0, 0, 0, 0.5);
		--background-invisible: rgba(0, 0, 0, 0);

		--link: var(--accent-light1);
		--link-underline: var(--accent-dark2);
		--link-hover: var(--accent-light2);
		--link-nav: white;
		--link-nav-hover: var(--accent-light2);
		--link-special: #19b4af;
		--link-special-background: #06413e;
		--link-special-popup-background: #022726;
		--link-highlight: var(--yellow);
		--link-highlight-background: var(--red-dark4);
		--link-me: #eb2a97;
		--link-me-background: #4e0a2b;

		--selection-foreground: white;
		--selection-background: var(--accent-dark2);

		--heading1: var(--accent-light1);
		--heading2: var(--accent-light2);
		--heading3: var(--accent-light1);
		--heading4: var(--accent-light2);

		--border-subtle: var(--grey-dark1);
		--border-subtle-trans: rgba(255, 255, 255, 0.5);
	
		--solid-shadow-opacity: 1;

		--toolbar-foreground: white;
		--toolbar-background: var(--grey-dark4);
		--toolbar-border: var(--grey);

		--control-foreground: var(--foreground);
		--control-background: var(--grey-dark3);
		--control-border: var(--grey-dark1);
		--control-foreground-hover: var(--foreground);
		--control-background-hover: black;
		--control-border-hover: var(--grey);
		--control-foreground-pressed: var(--foreground);
		--control-background-pressed: black;
		--control-border-pressed: var(--grey);
		--control-foreground-disabled: var(--grey-dark1);
		--control-background-disabled: var(--grey-dark4);
		--control-border-disabled: var(--grey-dark1);

		--accent-control-foreground: white;
		--accent-control-background: var(--accent-dark2);
		--accent-control-border: var(--accent);
		--accent-control-foreground-hover: white;
		--accent-control-background-hover: var(--accent-dark1);
		--accent-control-border-hover: var(--accent);
		--accent-control-foreground-pressed: white;
		--accent-control-background-pressed: var(--accent-dark1);
		--accent-control-border-pressed: var(--accent);

		--danger-control-foreground: var(--red);
		--danger-control-background: var(--background);
		--danger-control-border: var(--red-dark1);
		--danger-control-foreground-hover: white;
		--danger-control-background-hover: var(--red-dark2);
		--danger-control-border-hover: var(--red);
		--danger-control-foreground-pressed: white;
		--danger-control-background-pressed: var(--red-dark2);
		--danger-control-border-pressed: var(--red);

		--ghost-control-foreground: var(--grey);
		--ghost-control-alt-background-hover: var(--grey-dark3);
		--ghost-control-alt-background-pressed: var(--grey-dark4);

		--accent-tag-foreground: var(--foreground);
		--accent-tag-background: var(--accent-dark3);
		--accent-tag-background-hover: var(--accent);
		--accent-tag-background-pressed: var(--accent-dark1);
		--accent-tag-border: var(--accent);
	
		--highlight-tag-foreground: var(--foreground);
		--highlight-tag-background: var(--yellow-dark4);
		--highlight-tag-background-hover: var(--yellow-dark1);
		--highlight-tag-background-pressed: var(--yellow-dark2);
		--highlight-tag-border: var(--yellow);

		--listitem-foreground: var(--foreground);
		--listitem-secondary-foreground: var(--grey);
		--listitem-background: var(--background);
		--listitem-background-hover: var(--grey-dark3);
		--listitem-background-pressed: black;
		--listitem-border: var(--grey-dark3);
	
		--alt-listitem-foreground: var(--accent-light1);
		--alt-listitem-secondary-foreground: var(--grey-light2);
		--alt-listitem-background: var(--grey-dark4);
		--alt-listitem-background-hover: var(--grey-dark3);
		--alt-listitem-background-pressed: black;
		--alt-listitem-border: transparent;
	
		--highlight-listitem-foreground: var(--foreground);
		--highlight-listitem-secondary-foreground: var(--yellow);
		--highlight-listitem-background: black;
		--highlight-listitem-background-hover: var(--yellow-dark4);
		--highlight-listitem-background-pressed: black;
		--highlight-listitem-border: var(--yellow);
	}
}

/* Fonts */

@font-face
{
	font-family: Concourse;
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("https://files.greeneclipse.com/font/cot3.woff2") format("woff2");
}
@font-face
{
	font-family: Concourse;
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url("https://files.greeneclipse.com/font/cot3i.woff2") format("woff2");
}
@font-face
{
	font-family: Concourse;
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url("https://files.greeneclipse.com/font/cot4.woff2") format("woff2");
}
@font-face
{
	font-family: Inconsolata;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://files.greeneclipse.com/font/inc.woff2") format("woff2");
}

/* ============================================================
	Core stuff
============================================================ */

*, *::before, *::after
{
	box-sizing: inherit;
}

html
{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-height: 100%;
	scrollbar-gutter: stable;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;

	font-family: $font-body;
	font-size: $font-size;
	font-size-adjust: $font-body-xheight-ratio;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1; /* Otherwise it doesn't work on ::marker in Chromium */
	font-weight: $font-weight;
	line-height: $line-height;
	color: var(--foreground);
	background-color: var(--background);

	cursor: default;
	-webkit-tap-highlight-color: transparent;

	scroll-behavior: smooth;
}

[id]
{
	/* Ensures that when scrolling to an #anchor, the element being scrolled to doesn't appear under the floating header */
	scroll-margin-top: 100px;
}

body
{
	flex: 1 1 auto; /* required for IE11 instead of flex: 1; */
	display: flex;
	flex-direction: column;
	margin: 0;
	scrollbar-gutter: stable;

	color: var(--foreground);
}

::selection
{
	color: var(--selection-foreground);
	background-color: var(--selection-background);
}

@media print
{
	nav, header
	{
		display: none;
	}
}

/* ============================================================
	Text styles
============================================================ */

p, ul, ol, table, hr
{
	margin: $paragraph-spacing 0;
}

a, a:visited, summary
{
	@include rest
	{
		color: var(--link);
		text-decoration-color: var(--link-underline);
	}

	@include hover
	{
		color: var(--link-hover);
		text-decoration-color: var(--link-hover);
	}
}

a.stealth, a:visited.stealth
{
	@include rest
	{
		color: unset;
		text-decoration: none;
	}

	@include hover
	{
		color: unset;
		text-decoration: none;
	}
}

a.external::after
{
	display: inline-block;
	content: "";
	margin-left: .4em;
	width: 10px;
	height: 10px;

	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjMzE0RThCIiBkPSJNNC41IDUuNWw1LTVNNyAuNWgyLjVWM00zIDIuNUguNXY3aDdWNyIvPjwvc3ZnPg==);

	.theme-dark &
	{
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjZjZmNmY2IiBkPSJNNC41IDUuNWw1LTVNNyAuNWgyLjVWM00zIDIuNUguNXY3aDdWNyIvPjwvc3ZnPg==);
	}
}

b, strong
{
	font-weight: $font-weight-bold;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: $paragraph-spacing;
	margin-bottom: $paragraph-spacing;

	font-weight: $font-weight-bold;
	letter-spacing: -0.03em;
	text-wrap: balance;
}

h1, h2, h3
{
    widows: 3;
	orphans: 3;
	page-break-after: avoid;
}

h1 + h2
{
	margin-top: (-$paragraph-spacing);
}

h1
{
	color: var(--heading1);

	font-size: 36px;
	line-height: 48px;

	&:first-of-type
	{
		margin-top: 0;
	}
}

h2
{
	margin-top: $indent;

	color: var(--heading2);

	font-size: 28px;
	line-height: 40px;
}

h3
{
	color: var(--heading3);

	font-size: 24px;
	line-height: 32px;
}

h4
{
	color: var(--heading4);

	@include caps;
	font-size: 19px;
	font-weight: $font-weight-bold;

	letter-spacing: -0.05em;
	line-height: $line-height;
}

h5
{
	color: var(--heading4);

	@include caps;
	font-size: $font-size;
	font-weight: $font-weight-bold;

	line-height: $line-height;
}

h6
{
	color: var(--heading4);

	@include caps;
	font-size: $font-size;
	font-weight: $font-weight;

	line-height: $line-height;
}

ul, ol
{
	padding-left: $indent;

	@include phone-only
	{
		padding-left: ($indent * 0.5);
	}
	
	li
	{
		margin: 8px 0 8px 0;

		& > p
		{
			margin-top: 0;
			margin-bottom: 0;
		}

		/* ::marker is not widely-supported right now so don't depend on it. */
		&::marker
		{
			color: var(--heading3);
			font-weight: $font-weight;
		}
	}

	ul, ol
	{
		margin: 8px 0 8px 0;
	}
}

dt
{
	margin-top: $paragraph-spacing;

	@include caps;
	color: var(--heading2);
	font-weight: $font-weight-bold;
}

dd
{
	margin-left: $indent;
	margin-bottom: $paragraph-spacing;
}

dfn
{
	font-style: normal;
	font-weight: $font-weight-bold;
}

table
{
	/* Consider moving this into a specific CSS class so you don't pollute the default table with so many opinionated styles */

	margin: $paragraph-spacing 0 $line-height 0;

	p + &
	{
		/* When next to a paragraph, indent to align with UL/OL */
		margin-left: ($indent - 12px);
	}

	border-spacing: 0;

	td, th
	{
		padding: 5px 11px 5px 11px;

		border-style: solid;
		border-width: 1px;
		border-color: transparent transparent var(--grey) transparent;

		vertical-align: top;
	}

	&.compact
	{
		td, th
		{
			font-size: $font-size-compact;
			font-weight: $font-weight-compact;
			line-height: $line-height-compact;
		}
	}

	th, thead td, tfoot td
	{
		text-align: left;
		color: var(--heading2);
		font-weight: $font-weight-bold;
	}

	tfoot td, tfoot th
	{
		border-style: solid none;
		border-width: 1px 0;
		border-color: var(--grey) transparent;
	}

	tr
	{
		page-break-inside: avoid;
	}

	&.with-headers
	{
		h1, h2, h3
		{
			margin-top: 1em;
		}
	}

	&.no-lines
	{
		td, th
		{
			border-width: 0;
		}
	}
}

caption, figcaption
{
	caption-side: bottom;
	margin-top: $paragraph-spacing;

	font-size: $font-size-tiny;
	font-style: italic;
	color: var(--foreground-subtle);
}

caption
{
	text-align: center;
}

figure
{
	margin-left: $indent;

	overflow-x: auto;
	margin-right: (-$indent * 0.5);

	@include phone-only
	{
		margin-left: 0;
	}
}

figcaption
{
	text-align: left;
}

figure-list
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	gap: $indent;

	overflow-x: auto;
	margin-left: $indent;
	margin-right: (-$indent * 0.5);

	@include phone-only
	{
		margin-left: 0;
	}

	figure
	{
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;

		margin-left: 0;
		margin-right: 0;
		overflow-x: unset;

		figcaption
		{
			text-align: center;
		}
	}
}

blockquote, aside
{
	position: relative;
	margin: $line-height 0 $line-height 0;
	padding: 11px $indent 11px $indent;

	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: var(--grey-light2);

	color: var(--grey-dark4);

	.theme-dark &
	{
		color: var(--grey-light2);
		border-color: var(--grey-dark1);
	}

	&.left, &.right
	{
		margin-top: 0;
		padding: 0;

		border: none;

		color: var(--grey-dark1);
		font-size: $font-size-compact;

		.theme-dark &
		{
			color: var(--grey-light1);
		}
	}

	@include phone-only
	{
		padding-left: ($indent * 0.5);
		padding-right: ($indent * 0.5);
	}
}

blockquote::before
{
	position: absolute;
	left: -9px;
	top: -42px;
	
	content: "“";
	color: var(--grey-light2);
	font-size: 80px;

	.theme-dark &
	{
		color: var(--grey-dark2);
	}
}

aside.info, aside.warning, aside.danger
{
	margin: $paragraph-spacing 24px $paragraph-spacing 24px;
	padding: 11px 11px 11px 12px;

	border-style: solid;
	border-width: 1px 1px 1px 4px;
	border-color: var(--grey-light2);
	border-radius: .25em;

	&::before
	{
		position: absolute;
		width: 48px;
		left: -52px;
		top: 3px;

		text-align: center;
		font-size: 28px;
	}

	&.info
	{
		color: var(--foreground);
		background-color: var(--accent-light4);
		border-color: var(--accent-dark1);
		box-shadow: 1px 2px 2px 0 var(--accent-glow);

		.theme-dark &
		{
			background-color: var(--accent-dark4);
		}

		&::before
		{
			content: "ℹ️";
			color: var(--accent-dark1);
		}

		&::selection
		{
			background-color: var(--accent-dark1);
		}

		strong
		{
			color: var(--accent-dark2);

			.theme-dark &
			{
				color: var(--accent-light1);
			}

			&::selection
			{
				background-color: var(--accent-dark1);
			}
		}
	}

	&.warning
	{
		color: var(--foreground);
		background-color: var(--yellow-light4);
		border-color: var(--yellow-dark1);
		box-shadow: 1px 2px 2px 0 var(--yellow-glow);

		.theme-dark &
		{
			background-color: var(--yellow-dark4);
		}

		&::before
		{
			content: "⚠️";
			color: var(--yellow-dark1);
		}

		&::selection
		{
			background-color: var(--yellow-dark1);
		}

		strong
		{
			color: var(--yellow-dark2);

			.theme-dark &
			{
				color: var(--yellow-light1);
			}

			&::selection
			{
				background-color: var(--yellow-dark1);
			}
		}
	}

	&.danger
	{
		color: var(--foreground);
		background-color: var(--red-light4);
		border-color: var(--red-dark1);
		box-shadow: 1px 2px 2px 0 var(--red-glow);

		.theme-dark &
		{
			background-color: var(--red-dark4);
		}

		&::before
		{
			content: "⚠️";
			color: var(--red-dark1);
		}

		&::selection
		{
			background-color: var(--red-dark1);
		}

		strong
		{
			color: var(--red-dark2);

			.theme-dark &
			{
				color: var(--red-light1);
			}

			&::selection
			{
				background-color: var(--red-dark1);
			}
		}
	}
}

:not(pre) > code, pre, samp
{
	padding: .2em .4em .2em .4em;

	background-color: var(--shade1);
	font-family: $font-mono;
	font-weight: $font-weight;
	font-size: $font-size-compact;
	line-height: $line-height-compact;
	line-height: 1;
	tab-size: 4;

	.theme-dark &
	{
		background-color: black;
	}
}

pre
{
	padding: 15px;
	overflow-y: auto;

	border-style: solid;
	border-width: 1px;
	border-color: var(--grey-light1);

	.theme-dark &
	{
		border-color: var(--grey-dark1);
	}

	&::selection
	{
		color: black;
		background-color: var(--shade2);

		.theme-dark &
		{
			color: var(--foreground);
			background-color: var(--grey-dark3);
		}
	}
}

kbd
{
	padding: .125em .4em .125em .4em;

	color: var(--foreground);
	border-style: solid;
	border-width: 1px;
	border-color: var(--grey-light1);
	background-image: linear-gradient(to bottom, var(--background-invisible), var(--grey-light2));
	border-radius: .2em;
	background-color: transparent;
	font-family: $font-body;
	font-weight: $font-weight-bold;
	font-size: 15px;
	font-style: normal;

	white-space: nowrap;

	.theme-dark &
	{
		border-color: var(--grey);
		background-image: linear-gradient(to bottom, var(--grey-dark3), black);
	}

	img, svg
	{
		vertical-align: middle;
		margin-bottom: 3px;
	}

	&::selection
	{
		color: white;
		background-color: var(--grey-dark1);
	}
}

.nobr
{
	white-space: nowrap;
}

.flexspacer
{
	flex: 1;

	pointer-events: none;
}

mark
{
	padding: 2px 0 2px 0;

	color: var(--foreground);
	background-color: var(--yellow-highlighter);
	border-radius: .2em;

	&::selection
	{
		color: var(--foreground);
		background-color: var(--yellow);
	}
}

summary:hover, summary:focus
{
	background-color: var(--accent-light4);
	text-decoration: underline;

	.theme-dark &
	{
		background-color: black;
	}
}

summary:focus:not(:focus-visible):not(:hover)
{
	background-color: unset;
	text-decoration: unset;
}

summary
{
	margin: -4px -8px -4px -8px;
	padding: 4px 8px 4px 8px;

	user-select: none;

	& + *
	{
		margin-top: 4px;
	}
}

spoiler-text
{
	position: relative;
	color: transparent;
	background-image: repeating-linear-gradient(-45deg, var(--grey-light4), var(--grey-light4) 8px, var(--grey-light2) 8px, var(--grey-light2) 16px);
	transition: color .128s cubic-bezier(.67, 0, .33, 1);

	.theme-dark &
	{
		background-image: repeating-linear-gradient(-45deg, black, black 8px, var(--grey-dark3) 8px, var(--grey-dark3) 16px);
	}

	&:hover
	{
		color: var(--foreground);
		background-image: none;
		background-color: var(--grey-light3);

		.theme-dark &
		{
			background-color: var(--grey-dark3);
		}		

		&::selection
		{
			color: white;
			background-color: var(--grey);
		}
	}

	&::selection
	{
		color: var(--grey-light1);
		background-color: var(--grey);
	}
}

del
{
	opacity: 0.3;

	user-select: none;
}

ins
{
	text-decoration: underline solid var(--foreground-trans);
	text-decoration-color: var(--foreground-trans);
}

abbr
{
	text-decoration: underline dotted var(--foreground-trans);
}

var
{
	font-style: normal;
	font-weight: $font-weight-bold;
}

/* ============================================================
	Components and UI
============================================================ */

template
{
	/* Better compatibility with ancient browsers */
	display: none;
}

main, article, aside, footer, header, nav, section, details
{
	/* Better compatibility with ancient browsers */
	display: block;
}

hr
{
	display: block;
	max-width: 30%;
	height: 0;

	border: 0;
	border-top: .5em solid var(--grey-light3);
}

img, svg
{
	border: none;
	page-break-inside: avoid;
	vertical-align: top;
}

input, button, textarea, select, option, optgroup
{
	font: inherit;
	font-variant-numeric: lining-nums;
}

@mixin textbox
{
	padding: .125em .25em;

	color: var(--foreground);
	background-color: var(--background);
	border-color: var(--grey-dark1);
	border-style: solid;
	border-width: 1px;
	border-radius: .25em;
	transition: box-shadow .2s cubic-bezier(.1, .7, .3, 1);

	.theme-dark &
	{
		border-color: var(--grey-light1);
	}

	&:hover
	{
		border-color: var(--accent-dark1);

		.theme-dark &
		{
			border-color: var(--accent-light1);
		}
	}

	&:focus
	{
		outline: none;
		border-color: var(--accent);
		box-shadow: 0 0 5px var(--accent-glow);
	}

	&::placeholder
	{
		opacity: 0.25;
	}
}

input[type=text], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=url]
{
	@include textbox;

	height: 36px;
}

textarea, select, .tiptap
{
	@include textbox;
}

.tiptap
{
	min-height: 6em;
	cursor: text;

	& > :first-child
	{
		margin-top: 0;
	}

	& > :last-child
	{
		margin-bottom: 0;
	}

	&:not(.ProseMirror-focused) p.is-editor-empty:first-child::before
	{
		content: attr(data-placeholder);
		opacity: 0.25;
		float: left;
		height: 0;
		pointer-events: none;
	}
}

textarea
{
	resize: vertical;
}

select
{
	margin: 2px;
	height: 36px;
	padding: .125em 0;
}

label
{
	display: inline-block;
	margin-top: .2em;

	input[type=checkbox], input[type=radio]
	{
		margin-right: .5em;
	}
}

fieldset
{
	border-radius: .25em;
}

legend
{
	@include caps;
}

.phone-only
{
	@include not-phone
	{
		display: none !important;
	}
}

.not-phone
{
	@include phone-only
	{
		display: none !important;
	}
}
