/*
	Use these mixins for any focusable elements with interactive states to make sure that
	:focus-visible works whenever possible, without breaking legacy browsers.

	IMPORTANT: Use these mixins IN THIS ORDER, and set the same properties in all of them.
	That may require explicitly setting properties to "unset" in the Rest state.

	(Pressed and Disabled are not required if you have no pressed or disabled states, of course.)

	button
	{
		@include rest { color: black; }
		@include hover { color: red; }
		@include pressed { color: blue; }
		@include disabled { color: grey; }
	}

*/

@mixin rest
{
	&
	{
		@content;
	}
	&:focus:not(:focus-visible):not(:hover):not(:disabled)
	{
		@content;
	}
}

@mixin hover
{
	&:hover, &:focus
	{
		@content;
	}
}

@mixin hover-or-focus-class
{
	&:hover:not(.disabled), &:focus:not(.disabled), &.focus:not(.disabled)
	{
		@content;
	}
}

@mixin pressed
{
	&:active:hover
	{
		@content;
	}
}

@mixin disabled
{
	&:disabled, &:disabled:hover
	{
		@content;
	}
}

@mixin disabled-or-disabled-class
{
	&:disabled, &:disabled:hover, &.disabled, &.disabled:hover
	{
		@content;
	}
}
