@use "sass:math";

@function line-height-as-multiple($line-height, $font-size)
{
	@return ceil(100000 * math.div($line-height, $font-size)) * 0.00001;
}

$font-size: 19px;
$line-height: 28px;
$paragraph-spacing: 16px;
$indent: 40px;
$line-height-multiple: line-height-as-multiple($line-height, $font-size);
$font-weight: 400;
$font-weight-bold: 600;

$font-size-compact: 17px;
$line-height-compact: 24px;
$line-height-multiple-compact: line-height-as-multiple($line-height-compact, $font-size-compact);
$font-weight-compact: 400;

$font-size-tiny: 15px;
$line-height-tiny: 24px;
$line-height-multiple-tiny: line-height-as-multiple($line-height-tiny, $font-size-tiny);
$font-weight-tiny: 400;

$font-body: Concourse, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$font-body-xheight-ratio: .45;
$font-accent: $font-body;
$font-caps: Concourse, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$font-mono: Inconsolata, Consolas, SFMono-Regular, "Roboto Mono", monospace;
$font-ui: $font-body;
$font-weight-ui: 600;
$font-size-ui: $font-size;

@mixin caps
{
	font-family: $font-caps;
	font-feature-settings: "c2sc" 1;
	text-transform: uppercase;
}

$large-width: 1050px;
$full-width: 900px; /* approximately 90 characters */
$phone-width: 600px;
$column-margin: $line-height;

@mixin float-left($width)
{
	@media (min-width: #{$full-width + ($width + $column-margin) * 2 + $indent})
	{
		display: block;
		position: absolute;
		width: $width;
		margin-left: #{-$width - $column-margin};
	}
}

@mixin float-right($width)
{
	@media (min-width: #{$full-width + ($width + $column-margin) * 2 + $indent})
	{
		display: block;
		position: absolute;
		width: $width;
		margin-left: #{$full-width + $column-margin};
		margin-right: #{-$width - $column-margin};
	}
}
